<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UoH - University of Hargeisa</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<style>
	html,
	body {
	  height: 100%;
	  width: 100%;
	  margin: 0;
	}

	#outer {
	  display: flex;
	  flex-flow: column;
	  height: 100%;
	}

	#inner_fixed {
	  height: 100px;
	}

	#inner_remaining {
	  padding: 30px;
	  flex-grow : 1;
	  width: 100%;
	  position: absolute;
	  top: 50%;
	  text-align: center;
	}

</style>

    {% block favicon %}
        <link rel="shortcut icon"
                href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
                type="image/x-icon">
        <link rel="icon"
                href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
                type="image/x-icon">
    {% endblock %}
        {%- block head -%}
                {% if meta_block is defined -%}
                {{ meta_block }}
                {%- endif %}

                {% if head_html is defined -%}
                {{ head_html or "" }}
                {%- endif %}

                {%- for link in web_include_css %}
                <link type="text/css" rel="stylesheet" href="{{ link|abs_url }}">
                {%- endfor -%}

            {%- block head_include %}{{ head_include or "" }}{% endblock -%}

                {%- block style %}{%- endblock -%}
        {%- endblock -%}
	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
	</script>
</head>
<body>
{% block content%}{% endblock %}
<!-- js should be loaded in body! -->
	<script type="text/javascript"
		src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript"
		src="/assets/js/frappe-web.min.js"></script>
	
	<script type="text/javascript" src="/website_script.js"></script>
	<script type="text/javascript" src="/assets/js/erpnext-web.min.js"></script>
    <script></script>


	<script>frappe.csrf_token = "None";</script>
	<script>
        {% include "ussdsim/templates/includes/ussdsim.js" %}
        frappe.ready(function() {
                ussdsim($('#outer'));
        });
	</script>

</body>
</html>
